.container-viewport
  .row
    .col-md-12.col-xs-12.col-sm-12.col-lg-12
      .title
        %h1 최근 관심을 끌고 있는 소신 가자

      - @journalists.each do |journalist|
        .card
          = image_tag("https://upload.wikimedia.org/wikipedia/ko/archive/6/6e/20121016024552!JJW.JPG")
          .name= journalist.name
          .publisher= journalist.press.name
          .num-comments 20
          .num-views 300
          .num-articles= journalist.articles.count
          .clarity-box
            .clarity +100
        - journalist.articles.order(id: :desc).limit(5).each do |article|
          .news-card
            %h4= link_to(article.title, article.link, target: '_blank')
