<div class="ui container">
<div class="ui feed">   
<% @tweets.each do |t| %>
  
  <div class="event">
    <div class="label">
      <img src=<%= t.user.profile_image_url %>>
    </div>
    
    <div class="content">
      <div class="summary"> <%= t.user.name %> <span class="date">created at <%= t.created_at %></span>
      </div>
      
      <div class="extra text" >
        <a href="<%= t.url %>"> <%= t.text %></a>
      </div>
     
      <span>retweet <%= t.retweet_count %> times</span>
    </div>

  </div>

      
<% end %>

</div>
</div>