<!DOCTYPE html>
<html>
  <head>
    <title>News</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div id="sosin-header"> 
      <h1> 소신 뉴스 </h1>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="footer">
      <h2>뉴스가 깨끗해지면 대한민국 역시 깨끗해지지 않을가요? </br> 뉴스가 깨끗해지길 바라는 마음으로 만들어 봅니다.</h2>
    </div>
    
  </body>
</html>
